<!DOCTYPE HTML>
<html>
<head>
    <title>Tutorial Spring boot</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="estilo.css" />
    
</head>
<body>
    <h1>Agregando usuario</h1>
    <form action="agregarUsuario" method="post">
	    <label for="nombre">Nombre:</label>
	    <input type = "text" name = "nombre"><br>
	    <label for="apellido">Apellido:</label>
	    <input type = "text" name = "apellido"><br>
	    <label for="grupo">Grupo:</label>
	    <input type = "text" name = "grupo"><br>
	    <input type="submit" value="Aceptar">
	</form>
 </body>
</html>